{% extends 'base.html' %}

{% block content %}

<!-- CSS intégré pour la page d'accueil -->
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f7f9f9; /* Couleur de fond claire et moderne */
        color: #333;
        height: 100vh; /* Hauteur de la page pour centrer verticalement */
        display: flex;
        flex-direction: column; /* Flexbox pour la disposition */
        justify-content: center; /* Centrage vertical */
    }

    .hero-section {
        background-color: #ffebc4; /* Couleur de fond douce rappelant les ingrédients frais */
        padding: 40px 20px;
        text-align: center;
        border-bottom: 2px solid #f4a261; /* Bordure couleur pêche pour une touche d'été */
        margin: 20px; /* Marge pour espacer le header */
        border-radius: 8px; /* Arrondi des coins */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
    }

    .hero-section h1 {
        color: #2a9d8f; /* Couleur turquoise pour une touche de fraîcheur */
        font-size: 2.5em;
        margin: 0 0 15px; /* Espacement entre le titre et le texte */
    }

    .hero-section p {
        color: #555;
        font-size: 1.2em;
        margin: 10px 0; /* Espacement entre les paragraphes */
    }

    .cta-button {
        display: inline-block;
        background-color: #e76f51; /* Couleur saumon pour attirer l'œil */
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.2em;
        margin-top: 20px; /* Espace au-dessus du bouton */
    }

    .cta-button:hover {
        background-color: #d95d43; /* Couleur saumon plus foncée pour l'effet survol */
    }
</style>

<div class="hero-section">
    <h1>Bienvenue sur "Zéro Gaspi: délices personnalisés"!</h1>
    <p>Votre solution pour éviter les aliments dans vos poubelles.</p>
    <p>Découvrez des recettes personnalisées à vos goûts avec les aliments à consommer rapidement.</p>
    <p>Que vous soyez un chef expérimenté ou un amateur passionné, nous vous aiderons à créer des plats délicieux sur mesure.</p>
    <a href="{% url 'aliments' %}" class="cta-button">Commencez à Trouver Votre Recette</a>
</div>

{% endblock content %}


